.org-center > * {
    text-align:center;
}

nav{
    width:100%;
    background:black;
    color:white;
}

nav a{
    color:#bbf;
}

nav p{    
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;

}

#content{
    padding-bottom:30px;
}

body{
    overflow-x:hidden;
    font-family:sans;
    width:80vw;
    margin:auto;
}

a{
    text-decoration:none;
    margin:0;
    padding:0;
}

.bold{
    font-weight:700;
}

p :not .org-center, h3, ol, ul, li{
    margin:auto;
    width:60vw;
    min-width:300px;
    text-align:justify;
    left:0;
}

li{
     padding-bottom:6px;
}
