body{
    width:60vw;
    min-width: 360px;
    margin:auto;
}

img, iframe{
    width:70vw;
    max-width:640px;
    height:auto;
}

blockquote{
    background-color:#ddd;
    border-radius:15px;
    padding:6px;
}

.references > div > div > div{
    padding-top: 0.5em;
}
