body{
    overflow-x:hidden;
    font-family:sans;
    width:60vw;
    min-width: 360px;
    margin:auto;
    margin-bottom:30px;
}

img, iframe{
    width:70vw;
    max-width:640px;
    height:auto;
}

p{
    padding:5px;
    margin:0;
}

blockquote{
    background-color:#ddd;
    border-radius:15px;
    padding:6px;
}

.references > div > div > div{
    padding-top: 0.5em;
}
